@{
		ViewData["Title"] = "Home";

}


<h1 class="display-4 text-secondary text-center">Willkommen auf unserer Userverwaltung!</h1>

<p class="text-black-75 text-md-center">Wir freuen uns, dass Sie den Weg zu uns gefunden haben.</p>

<p class="text-decoration-underline">Was Sie hier finden:</p>

Im Rahmen der Userverwaltung können Sie als Administrator Benutzer anlegen, Details aller User einsehen diese auch bearbeiten und löschen.

Ausserdem können Sie als Administrator auch die Rollen der User verwalten.

Als Normalnutzer können Sie sich einloggen und Ihre eigenen Daten einsehen und bearbeiten.

Um die Userverwaltung zu nutzen, müssen Sie sich registrieren und einloggen .
Ohne Login können Sie nur diese Startseite sehen.


Vielen Dank für Ihren Besuch und viel Spaß beim Entdecken unserer Webseite!
