
@{

}

<h1 class="text-secondary  text-center" >User login </h1>
<div class="d-grid justify-content-center">
<form action="/home/login" method="post">
<div class="col-md bg-body-secondary">
	<div class="card-text">
		<label class="form-label" name="Username">Username</label>
		<input class="d-flex form-control" type="text" name="Username" />
	</div>
	<div class="card-text">
		<label class="form-label" name="Password">Password</label>
		<input class="form-control" type="password" name="Password" />

	</div>
	<br />
		<button type="submit" class="btn btn-secondary ">Login</button>
	</div>
</form>
</div>